<!DOCTYPE html>
	<html>
		<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
		<title>{% block title %}My amazing site{% endblock %}</title>
		</head>
	<body>
	<style>
		.tweet{
		margin-top:17px;
		border-bottom: #eeeeee solid 1px;
		padding-bottom: 10px;
		}
	</style>
	<div class="container">
		<div class="row">
			{% block content %}
			{% endblock %}
		</div>
		</div>
	</body>
	{% block javascripts %}
	{% endblock %}
</html>